.st-heading h1 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.st-heading h1:before {
  width: 28px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -14px;
  background-color: #b80000;
}
.st-heading h1:after {
  width: 100px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 25px;
  left: 50%;
  margin-left: -50px;
  background-color: #b80000;
}

.spinner{
  display: flex;
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
}